* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

@font-face {
    font-family: "Norse-Bold";
    src: url(/Users/wpinto/repos/signup-form/fonts/norse/Norsebold.otf);
}

body {
    font-family: Helvetica, sans-serif, sans-serif;
    background-color: hsl(0,0,90%);
    color: #2c3e50;
    display: flex;
    flex-direction: row;
}

.side-bar a {
    text-decoration: underline;
    color: #ffffff; 
    font-weight: 100;
    cursor: pointer;
}

.side-bar {
    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.side-img {
    width: 40vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: -2;
}

.overlay {
    margin-top: 35%;
    height: 130px;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    align-items: center;
    z-index: -1;
}

.logo-container {
    margin-top: 37%;
    position: absolute;
    display: flex
}

.logo-text {
    font-size: 4.5em;
    text-align: center;
    color: white;
    width: 100%;
    font-family: "Norse-Bold", sans-serif;
    margin: auto;
}

.logo {
    width: 5em;
    height: auto;
}

.side-credit {
    margin-top: 97vh;
    position: absolute;
    color: white;
    font-size: 0.8em;
}
.content-bar {
    margin-left: 100vw;
    width: 60vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
}

.content-bar a {
    text-decoration: none;
    color: #144a54; 
    font-weight: 700;
    cursor: pointer;
}

.form-header {
    margin: 15vh 5vh 5vh 3vh;
}

h3 {
    margin-bottom: 2vh;
}

.form-container {
    width: 100%;
    background-color: white;
    padding: 1vh 10vh 2vh 3vh;
    box-shadow: 20px 5px 45px -30px #0000004f;
}

#signup-form {
    display: grid;
    grid-template-columns: 1fr, 1fr;
}

#signup-form h3 {
    grid-column: 1 / 3;
}

label {
    text-transform: uppercase;
    margin-bottom: 0.5vh;
    font-size: 0.7em;
}

.form-footer {
    margin: 3vh 5vh 2vh 3vh;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
    margin-bottom: 1vh;
    padding: 1vh;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    height : 2.5vh;
    width: 50%;
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus {
  outline: max(1px, 0.1em) solid rgb(94, 139, 236);
  outline-offset: max(1px, 0.1em);
}

input[type="password"]:focus:valid {
  outline: max(1px, 0.1em) solid rgb(112, 192, 90);
  outline-offset: max(1px, 0.1em);
}

input[type="password"]:focus:invalid {
  outline: max(1px, 0.1em) solid rgb(236, 94, 94);
  outline-offset: max(1px, 0.1em);
}

.field {
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
    margin: 0vh 0vh 2vh 0;
    padding: 1vh;
    width: 20%;
    background-color: rgba(68, 115, 123, 0.926);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 20px -2px #0000004f;
}

.copyright {
    margin-top: 97vh;
    margin-left: 45vh;
    width: 60vw;
    font-size: 0.8em;
    position: absolute;
}