* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Helvetica, sans-serif, sans-serif;
    background-color: hsl(0,0,90%);
    color: #2c3e50;
    display: flex;
    flex-direction: row;
}

.side-bar a {
    text-decoration: underline;
    color: #ffffff; 
    font-weight: 100;
    cursor: pointer;
}

.side-bar {
    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px red solid;
    position: absolute;
}

.side-img {
    width: 40vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: -2;
}

.logo-text{
    color: white;
    margin: auto;
}

.overlay {
    margin-top: 55%;
    height: 130px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    align-items: center;
    z-index: -1;
}

.logo-container {
    margin-top: 58%;
    position: absolute;
    display: flex
}

.logo-text {
    font-size: 1.5em;
    text-align: center;
    color: white;
    width: 100%;
}

.logo {
    width: 5em;
    height: auto;
}

.side-credit {
    margin-top: 97vh;
    position: absolute;
    z-index: -1;
    color: white;
    font-size: 0.8em;
}
.content-bar {
    margin-left: 100vw;
    width: 60vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    border: 1px red solid
}

.form-header {
    margin: 5vh 5vh 2vh 3vh;
}

h3 {
    margin-bottom: 2vh;
}

.form-container {
    width: 100%;
    background-color: white;
    padding: 1vh 10vh 2vh 3vh;
    box-shadow: 1px 1px 25px #00000000, 1px -2px 25px #0000004f
}

#signup-form {
    display: flex;
    flex-direction: column;
}

.form-footer {
    margin: 3vh 5vh 2vh 3vh;
}