* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Helvetica, sans-serif, sans-serif;
    background-color: #ecf0f1;
    color: #2c3e50;
    display: flex;
    flex-direction: row;
}

.side-bar {
    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px red solid;
    position: absolute;
}

.side-img {
    width: 40vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: -2;
}

.logo-text{
    color: white;
    margin: auto;
}

.overlay {
    margin-top: 24%;
    height: 130px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    align-items: center;
    z-index: -1;
}

.logo-container {
    margin-top: 25%;
    position: absolute;
    display: flex
}

.logo-text {
    font-size: 1.5em;
    text-align: center;
    color: white;
    width: 100%;
}

.logo {
    width: 5em;
    height: auto;
}

.side-credit {
    margin-top: 97vh;
    position: absolute;
    z-index: -1;
    color: white;
    font-size: 0.8em;
}
.content-bar {
    margin-left: 100vw;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 2px red solid
}

.form-container {
    flex-direction: column;
    background-color: rgb(174, 163, 163);
    z-index: 1;

}